.btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $mainOrange;
  border-radius: 8px;
  padding: 0.75rem 1.2rem;
  display: inline-block;
  margin-top: 7px;
  transition: all .3s ease-out;
  opacity: .7;

  &:hover {
    /* background: linear-gradient(to top, $mainBlue , rgba(#1F81B6, .5)); */
    background-color: $mainBlue;
    opacity: .6;

  }

  @mixin atMedium {
    margin-top: 0;
  }

  &--orange {
    background-color: $mainOrange;
    opacity: .8;
    margin-top: 30px;
  }

  &--orange--blue {
      bakcground-color: $mainBlue;
  }

  &--orange:hover {
      color: #mainBlue;
    /* background: linear-gradient(to top, $mainOrange , #FFA100); */

  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
}
