.social-icons {
    text-align: center;


    &__icon {
        background-color: $mainOrange;
        /* opacity: .9; */
        display: inline-block;
        margin: 0 5px 5px 5px;
        border-radius: 8px;
        width: 33%;
        height: 70px;;
        position: relative;
        transition: all .3s ease-out;


        @mixin atSmall {
          width: 70px;
          margin: 0 5px;
        }

        .icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            cursor: pointer;
            background-color: $mainBlue;
        }
    }
}
